// icon
.i-arrow-r{
  position: relative;
  display: inline-block;
  vertical-align: middle;
  transition: .1s linear all;
  &:before,&:after{
    content: '';
    display: block;
    width: 21px;
    background: #fff;
    height: 1px;
  }
  &:after{
    width: 8px;
    position: relative;
    left: calc(100% - 8px);
    top: -3px;
    transform: rotate(30deg);
  }
}

// animation speed
.animate-1500ms {
  animation-duration: 1.5s;
}
// text
/* title */
.title-sec {
  margin-bottom: 0.5em;
  font-size: 24px;
  letter-spacing: 0.02em;
  text-align: center;

  &.title-sm {
    font-size: 22px;
  }

    @include res(pad){
      font-size: 30px;
    }
  @include res(pad){
    &.title-sm {
      font-size: 25px;
    }
  }
}

.subtitle-sec {
  margin-bottom: 0.5em;
  font-size: 1rem;
  color: $muted;
  text-align: center;

  @include res(pad){
    font-size: 1.1rem;
  }
}

.title-card {
  font-size: 1rem;
  @include res(pad){
    font-size: 1.1rem;
  }
}
.border-under-title{
  display: block;
  margin: 0.75em 0;
  width: 40px;
  height: 2px;
  background: $black;
  &.sm{
    width: 30px;
  }

  &.lg{
    width: 60px;
  }
  &.bold {
    height: 5px;
  }
  @include res(pad){
    width: 46px;
    &.sm{
      width: 38px;
    }
    &.lg{
      width: 75px;
    }
  }
}
/* text */
.text{
  line-height: 1.55;
  font-size: 1rem;

  &.sm{ font-size: 0.9rem; }

  @include res(pad){
    font-size: 1.1rem;
    &.sm{ font-size: 1rem; }
  }
}

/* price */
.price{
  color: $black;
  font-weight: bold;
  &.special{
    font-size: 1.4em;
    color: $red;
  }
}
/* textbox */
.txt-l1{
  @include textbox(1)
}
.txt-l2{
  @include textbox(2)
}
.txt-l3{
  @include textbox(3)
}

// bg
.bgcover{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-main{
  background: $main!important;
}

.bg-light{
  background: $light!important;
}

.bg-transparent-white{
  background: rgba($white, 0.8)!important;
}


.bg-grey{
  background: $grey!important
}

// Text Color
.text-main { color: $main !important; }
.text-black { color: $black !important; }
.text-muted { color: $muted !important; }
.text-brand-line {color: $brand-line !important;}

.text-hover-main:hover {color: $main !important;}
// width & height
.min-h-100 { min-height: 100%;}
.min-h-300px { min-height: 300px;}
.min-h-400px { min-height: 400px;}

.w-45 { width: 45%; }
.w-10rem { width:10rem; }
.w-4rem { width: 4rem; }

// rounded
.rounded { border-radius: 8px !important;}
.rounded-right {
  border-top-right-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
}
.rounded-left {
  border-top-left-radius: 8px !important;
  border-bottom-left-radius: 8px !important;
}

// shadow
.shadow-card { box-shadow: $shadow-card;}
// button
.btn{
  text-align: center;
  font-size: 14px;
  padding: 0.5em 1em;
  border-radius: 8px;
  &:hover{
    box-shadow: $shadow-button;
  }
  @include res(xlpad){
    font-size: 16px;
    // min-width: 120px;
    padding: 0.5em 2em;
  }
}

.btn-icon {
  max-width: none;
  padding: 0em 0.3em;
  border-radius: 50px;
  &:hover {
    color: $main;
  }
}

.btn-main{
  border: 1px solid $main;
  background: $main;
  box-shadow: $shadow-button;
  color: $white;
  &:hover{
    background: $none;
    color: $main;
  }
}

.btn-main-dark{
  border: 1px solid $main-dark;
  background: $main-dark;
  box-shadow: $shadow-button;
  color: $white;
  &:hover{
    background: $none;
    color: $main-dark;
  }
}

.btn-second{
  border: 1px solid $second;
  background: $second;
  box-shadow: $shadow-button;
  color: $white;
  &:hover{
    background: $white;
    color: $second;
  }
}

.btn-white{
  background: $white;
  border-radius: 30px;
  color: $black;
  &:hover{
    background: $second;
    color: #fff;
  }
}

.btn-line{color: $white; background: $brand-line;
  &:hover{
    background: transparentize($brand-line,0.4); 
  }
}
.btn-facebook{color: $white; background: $brand-facebook;
  &:hover{
    background: transparentize($brand-facebook,0.4); 
  }
}
.btn-google{color: $white; background: $brand-google;
  &:hover{
    background: transparentize($brand-google,0.4); 
  }
}

.tag{
  display: inline-block;
  border-radius: 4px;
  padding: 2px 8px;
  font-size: 14px;
  color: $white;
  &.hot{
    background: $red;
  }
  &.new{
    background: $main;
  }
}

// list
.list-inline-item{
  vertical-align:middle;
}

.list-page{
  >li{
    display: inline-block;
    margin-right: 5px;
    @include res(pad){
      margin-right: 10px;
    }
    a{
      display: block;
      @include square(30px);
      @include flexbox(center);

      border: 1px solid transparent;
      border-radius: 50%;
      font-weight: bold;
      // color: $main;
      color: $black;
      &:hover,:focus{
        // border-color: $black;
        border: 1px solid $black;
      }
      &.active{
        background: $main;
        // background: $black;
        color: $white;
        &:hover, &:focus {
          border-color: $main;
          box-shadow: 0 0 25px rgba(40,47,60,.05),0 20px 25px rgba(40,47,60,.05),0 3px 4px rgba(40,47,60,.05);
        }
      }
    }
  }
}

.list-angle{
  li{
    @include flexbox(y);
    a{
      &:before{
        @include fa;
        content: '\f054';
        font-size: 0.75em;
        margin-right: 8px;
      }
    }
  }
}
// box
.board{
  padding: 15px 10px;
  border: $border;
  border-radius: 15px;
  @include res(nb){
    padding: 25px 20px
  }
}

.oval{
  @include oval(100px,$white);
  margin: auto;
  img{
    max-width: 65px;
    max-height: 65px;
  }
}

.box-img{
  &.bordered { border-radius: 8px; }
  @include imgbox(100%);
  &.r-4-3{
    &:before{
      padding-bottom: 75%;
    }
  }
  &.r-3-2{
    &:before{
      padding-bottom: 66.6667%;
    }
  }
  &.r-16-9{
    &:before{
      padding-bottom: 56.25%;
    }
  }
  &.img-fit-text{
    &:before{
      padding-bottom: 50%;
    }
  }
  &.img-contain{
    background-size: contain;
  }
}

.box-iframe{
  position: relative;
  &:before{
    content: '';
    width: 100%;
    display: block;
    padding-bottom: 56.25%;
  }
  iframe{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

// ------
// Banner
// ------
.banner{
  @include imgbox(20.67%, 200px); //1920 * 400px, min-height: 200px
  // @include imgbox(31.25%, 200px); //1920 * 600px, min-height: 200px
  // @include imgbox(40%, 200px); //1920 * 768px, min-height: 200px
  background-position: 40% center;
  .content{
    @include overlay($none);
    @include flexbox(center);
    top: auto;
    text-align: left;

    h1, h2{
      letter-spacing: 0.01em;
      color: $black;
      font-size: 25px;
      margin-bottom:1rem;
    }
    p{ margin-bottom: 0.25rem; }

    .card {
      background:rgba(255,255,255,0.8);
      > .card-body { padding: 1.5rem 1.25rem; }
    }
  }
  &.banner-page{
    &:before{
      padding-bottom: 26.83%; // 1920*500px
      // padding-bottom: 20.83%; // 1920*400px
    }
  }
}

// ------
// Banner: RWD
// ------
@media screen and (max-width: device(xlpad)) {
  .banner {
    .content h1 { margin-bottom: 0.5rem; font-size: 22px; }
    .content p { margin-bottom: 0; }
    .content .card > .card-body { padding: 1.25rem; }
  }
}

@media screen and (max-width: device(phone)) {
  .banner {
    &.banner-page::before {
      padding-bottom: 75%;
      // @include imgbox(75%, 200px)
      min-height: 200px;
    }
  }
  .banner {
    .content h1 { font-size: 18px; margin-bottom: 0.5rem; }
    .content p { font-size: 15px; margin-bottom: 0; }
    .content .card > .card-body { padding: 1rem 1.25rem; }
  }
}

.box-qty{
  input{
    display: inline-block;
    max-width: 130px;
    vertical-align: middle;
  }
  button{
    border-radius: 3px;
    font-size: 18px;
    @include square(36px);
    @include flexbox(center);
    display: inline-flex;
    vertical-align: middle;
    border: 1px solid #bab9b9;
    &:first-of-type{
      background: $grey;
      color: $white;
    }
    &:nth-of-type(2){
      background: $white;
      color: $grey;
    }
  }
}

.box-msg{
  background: transparentize($main,0.92);
  padding: 30px;
  @include res(xlpad){
    padding: 40px;
  }
}

// slider
.slider-col-3{
  margin-left: -10px;
  margin-right: -10px;
  .item{
    padding: 10px 10px 15px;
    &:hover{
      .card{
        box-shadow: $shadow-box;
      }
    }
  }

  .slick-dots li button {
    background: #aaa;
    border-radius: 50rem;
    width: 6px;
    height: 6px;
    padding: 3px;
    transition: width 0.5s, background-color 0.5s;
  }

  .slick-dots li.slick-active button {
    background: #222;
    border-radius: 50rem;
    width: 18px;
    height: 6px;
  }
}

// form
select, input, textarea{
  padding: 5px 10px;
  border-radius: 5px;
  width: 100%;
  border: 1px solid $grey;
  &[readonly], &:disabled{
    background: #e8e8e8;
  }
}
label.checkbox{
  margin-bottom: 0;
  cursor: pointer;
  input{
    position: absolute;
    visibility: hidden;
    width: auto;
    +span{
      position: relative;
      display: inline-block;
      padding-left: 32px;
      letter-spacing: 0;
      line-height: 1.5;
      &:before, &:after{
        content: ''; 
        position:absolute;
        left: 0;
        top: 0;
      }
      &:before{
        @include square(20px);
        background:#e4e4e4;
        border-radius: 6px;
      }
      &:after{
        border-bottom: 3px solid $main;
        border-right: 3px solid $main;
        width: 8px;
        height: 12px;
        transform: rotate(45deg);
        opacity: 0;
        transition: .1s linear all;
        left: 6px;
        top: 2px;
        border-radius: 2px;
      }
    }
    &:checked{
      +span:after{
        opacity: 1!important;
      }
    }
  }
  &.radio{
    input{
      +span{
        &:before{
          border-radius: 50%;
        }
        &:after{
          border-radius: 50%;
          background: $main;
          left: 5px;
          top: 5px;
          opacity: 0;
          border: 0;
          @include square(10px);
        }
      }
    }
  }
}

.form-row > .col, .form-row > [class*="col-"] {
  padding-right: 10px;
  padding-left: 10px;
}

.form-item{
  margin-bottom: 1em;
  >label{
    // color: #666;
    color: $black;
    display: block;
    margin-bottom: 0.75em;
  }
  >.text-danger{
    font-size: 0.875em;
    margin-top: 0.25em;
    margin-bottom: 0;
  }
  &.inline{
    display: flex;
    align-items: center;
    flex-wrap:wrap;
    >.text-danger{
      flex-basis: 100%;
    }
    >label{
      display: inline-block;
      width: 80px;
      flex-shrink: 0;
      margin-bottom: 0;
      + *{
        flex-grow: 1;
      }
    }
  }
}


.form-control {
  border: 1px solid darken($grey, 10%);
  border-radius: 0;
  margin-bottom: 0.75em;
  // background-color: $light; border:none;

  // &:focus {
  //   border-color: $main;
  // }
}

.form-control, .input-group { font-size: 13px; }
.input-group .input-group-append {
  height: calc(1.5em + .75rem + 2px);
  .btn {
    padding: 0.2em 0.5em;
    border-radius: 0;
  }
}

.text-danger{
  color: $red !important;
  font-size: 0.875em;
}

// Custom BreadCrumb
.breadcrumb > .breadcrumb-item > a {
  color: $black;
  &:hover {
    color: $main;
  }
}
.breadcrumb-item + .breadcrumb-item::before {
  content: ">";
}

// Menu List
.menu-list {
  width: 100%;
  text-align: left;
  background-color: $white;
  color: $black;
  border-left: 3px solid $main-dark;
  // border-radius: 0 0 8px 0;
  .list-title {
    display: block;
    position: relative;
    padding: .75rem 1rem;
    font-weight: 400;
    border-bottom: 1px solid darken($white, 8%);
  }

  .list-content {
    padding: 0.5rem 1rem 1rem;
  }

  a.list-item, .list-item {
    color: $black;
      display: inline-block;
      width: 100%;
      padding: 0.5rem 0;
      cursor: pointer;
      color: rgba($black, 100%);
      // text-shadow: 0 1px 2px rgba($black, 0.2);

      &:hover, &.active { color: $main; }
  }
  .list-title:not(.no-submenu)::after {
    position: absolute;
    display: inline-block;
    // width: 0;
    // height: 0;
    right: 0.5rem;
    // margin-left: 0.755em;
    top: 50%;
    transform: translate(-100%, -50%);
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    text-align: right;
    transition: 0.5s ease;
  }
  .list-title.opened {
    color: $main;
  }
  .list-title.opened::after {
    transform: translate(-100%, -50%) rotate(180deg);
    content: "";
  }
}

.no-caret::after {
  content: none;
}

.search-wrap {
  .form-control {
    border: 1px solid #aaa;
    border-radius: 50px;
  }
  .input-group {
    width: calc(60% - 1rem);
    margin-left: 1rem;

    .input-group-append .btn {
      border: 1px solid #aaa;
      border-radius: 0 50px 50px 0;
      border-left-width: 0;
      background: #fff;
      box-shadow: none;
      font-size: 13px;
      color: #000;

      i { margin-bottom: 3px; }
    }
  }

}