.footer{
  color: $white;
  background: $main;
  padding-top: 30px;
  font-size: 14px;
  line-height: 2em;
  @include res(xlpad){
    padding-top: 42px;
  }
  a{
    color: rgba($white, 0.7);
    &:hover{
      color: $white;
    }
  }
  h5{
    color: $white;
    font-weight: 500;
    font-size: 16px;
    // font-size: 18px;
  }

  ul.footer-ul-2-col > li { display: inline-block; width: 49%; }
  ul.footer-ul-4-col > li { display: inline-block; width: 49%; }

  @media all and (min-width: 576px) {
  }

  @media all and (min-width: 768px){
  }

  @media all and (min-width: 992px){
    ul.footer-ul-2-col > li { display: inline-block; width: 49%; }
    ul.footer-ul-4-col > li { display: inline-block; width: 49%; }
  }

  @media all and (min-width: 1250px){
    ul.footer-ul-4-col > li { display: inline-block; width: 24%; }
  }

  @media all and (min-width: 1440px){
  }
  
  @media all and (min-width: 1600px){
  }
}


// @media all and (min-width: 576px) {
// }

// @media all and (min-width: 768px){
// }

// @media all and (min-width: 992px){
//   ul.footer-ul-2-col > li { display: inline-block; width: 49%; }
//   ul.footer-ul-4-col > li { display: inline-block; width: 49%; }
// }

// @media all and (min-width: 1250px){
//   ul.footer-ul-4-col > li { display: inline-block; width: 24%; }
// }

// @media all and (min-width: 1440px){
// }

// @media all and (min-width: 1600px){
// }
.logo-img { width: 140px; }

.copyright{
  font-size: 12px;
  margin: 0;
  color: $white;
  background: $main;
  text-align: center;
  padding: 15px 10px;
}

.scrollToTop{
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 999;
  @include oval(40px,$second);
  box-shadow: $shadow-box;
  color: #fff;
  &:hover{
    background: $white;
    color: $main;
  }
}