.headerwrap{
  background: $white;
  .navbar-toggler:not(.collapsed){
    .fa-bars:before{
      content: '\f00d';
    }
  }

  .navbar-toggler-icon {
    line-height: 1.5em;
  }

  .navbar-brand{
    margin-right: 0;
    max-width: calc(100% - 60px);
    img{
      max-height: 45px;
      max-width: 100px;
    }
    @include res(nb){
      padding: 1rem 0;
      img{
        max-height: 60px;
      }
    }
  }
  a.nav-link {
    color: $black;
    &:hover {
      color: $main;
    }
  }

  @include res(xlpad) {
    .navbar-expand-lg .navbar-nav .nav-link {
      padding: .75rem .5rem;
    }
  }


  header{
    // box-shadow: 0 3px 5px $grey;
    border-bottom: 2px solid $grey;
    // box-shadow: $shadow-box;
  }
  &.fixed{
    header{
      position: fixed;
      z-index: 5;
      left: 0;
      top: 0;
      width: 100%;
      background: $white;
      // box-shadow: $shadow-box;
      .submenu{
        padding-top: 10px;
      }
    }
  }
}
.topbar{
  text-align: right;
  padding: 8px 0;
  background: $main;
  color: $white;
  a {
    font-size: 13px;
    color: $white; }
  a:hover{
    color: $light;
  }

  .topbar-brand > img { height: 40px; }
  .submenu{
    padding-top: 8px;
    left: auto;
    right: 0;
  }
}

.topbar.topbar-dark {
  background: $black;
  color: $white;
  a {
    font-size: 13px;
    color: $white; }
  a:hover{
    color: $main;
  }

  .lang-dropdown-menu {
    background-color: #000;
    border-radius: .5rem;
    min-width: 5.5em;
    .dropdown-item { padding: .25rem 1rem; }
  }

  .lang-btn {
    border-radius: .5rem;
    border: 1px solid $white;
    padding: .15rem 1rem;
    margin: 0.25rem;
    font-size: 13px;
    color: $white;

    &:hover {
      background-color: $white;
      color: $black;
    }
  }
}

.has_submenu:not(.submenu-fill) {
  &:not(.submenu-full) { position: relative;}

  @include res(xlpad){
    &:hover{
      .submenu{
        display: block;
        // width: 100%;
      }
    }
  }
}

.submenu{
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 2;
  min-width: 100%;
  padding-top: 0px;
  // padding-top: 12px;
  border-width: 0 1px 2px;
  border-color: transparent;
  border-style: solid;
  background: $white;
  // border: 1px solid red;
  &.submenu-full {
    width: 100%;
  }

  .submenu-image {
    position: relative;
    background-size: cover;
    background-position: center;
    z-index: 0;
    &:after {
      width: 100%;
      height: 100%;
      content: "";
      position: absolute;
      right: 0;
      background-image: linear-gradient(-80deg, white 0%, white 20%, transparent 20%);
      // background-image: linear-gradient(-100deg, white 0%, white 2rem, transparent 2rem);
      z-index: 1;
    }
  }

  ul{
    text-align: left;
    // box-shadow: 0 2px 5px $grey;
    border-bottom: 3px;
    border-left: 2px;
    border-right: 2px;
    border-color: $grey;
    // box-shadow: $shadow-box;
    &:hover {
      li > a.submenu-title {
        color: $main;
        border-color: $main;
      }
    }

    li{
      white-space: nowrap;
      // position: relative;
      background: #fff;
      > a{
        display:block;
        background: #fff;
        font-size: 0.9em;
        padding: 0.3rem 0 0.3rem 0.75rem !important;
        color: $black;
        transition: all 1s;
        &:hover{
          background: transparent;
          color: $main;
        }
      }

      > a.submenu-title {
        position: relative;
        font-weight: bold;
        font-size: 1rem;
        padding-bottom: 0.5rem;
        transition: all 1s;
        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0.75rem;
          width: calc(100% - 0.75rem);
          height: 2px;
          background-color: $black;
          // border-bottom: 2px solid $black;
        }
      }
    }
  }
}

.navbar-nav{
  >li{
    &:not(:last-child){
      margin-right: 1rem;
    }

    >a{
      font-size: 1rem;
      letter-spacing: 0.04em;
      font-weight: 500;
      @include res(nb){
        padding-right:0!important;
      }
    }
  }

  @include res(nb,to-mb){
    >li{
      &:not(:last-child){
        margin-right: 0.5rem;
      }
    }
  }

  @include res(xlpad,to-mb){
    max-height: calc(100vh - 70px);
    overflow-y: auto;
    // overflow-y: scroll;
    .submenu{
      padding-top: 0;
      position: static;
    }
    >li{
      >a{
        padding: 0.5em 1em;
        width: 100%;
      }
    }
  }
}

// 搜尋框和下拉選單
.headerwrap .search-wrap {
  padding: 0.5rem 0;

  .form-control {
    border-color: $none;
    margin-bottom: 0;
  }

  .input-group { max-width: 140px; }
  .input-group, input {
    background: $light;
    color: $muted;
    border-radius: 50px;
  }

  .input-group, .select {
    border-radius: 50px;
    margin: 0 0.5rem;
  }
  .input-group-append{
    padding: 0.6rem .5rem 0 0.5rem;
    border-radius: 50%;
    background-color: transparent;
    &:hover {background: darken($light, 10%); }
  }

  border-radius: 50px;
  .input-group { width: 50%; }
  // placeholder text color
  input {
    @each $i in $input-prefix{
      #{$i}placeholder{
        color: $muted;
      }
    }
  }

  @include res(xlpad) {
    width: 280px;
  }
}