.list-contact-info{
  li{
    position: relative;
    padding-left: 2rem;
    line-height: 1.75rem;
    color: $black;
    &:not(:last-child){
      margin-bottom: 0.5rem;
    }
    i{
      font-size: 1.25rem;
      width: 1.75rem;
      text-align: center;
      position: absolute;
      left: 0;
      line-height: 1.75rem;
      color: $main;
    }
    >a{
      color: $black;
      &:hover{
        color: $main;
      }
    }
  }
}

.location-page {
  background-color: $grey;
  .location-card {
    background: #fff;
    // color: $black;

    h3, h4 { color: $main; }
    // h3, h4 { color: #444; }
    p { margin-bottom: 0; }
    p, .visit-link { color: #6c757d; }
  }
  .location-map-rwd {
    width: 100%;
    overflow: hidden;
    padding-bottom: 50%;
    position: relative;
    height: 0;
    min-height: 250px;

    iframe {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
    }

    @include res(xlpad) {
      padding-bottom: 56.25%;

    }
  }
}