.list-faq{
  .item{
    margin-bottom: 1.5em;
    h5{
      position: relative;
      // padding-bottom: 8px;
      border-bottom: 2px solid $grey;
      cursor: pointer;
      font-size: 1rem;
      line-height: 1.5;
      transition: all 0.5s;
      // @include res(xlpad){
      //   font-size: 18px;
      // }
      // &:after{
      //   @include fa;
      //   content: '\f0d7';
      //   font-size: 16px; position: absolute;right: 0;line-height: 24px;transition: .2s ease all;
      // }
      &.opened{
        border-color: darken($grey, 5%);
        color: $main;
        // &:after{
        //   transform: rotate(180deg)
        // }
      }
    }
    .ans{
      // background: #f7f7f7;
      border-radius: 8px;
      display: none;
      padding: 10px 20px;
      >*:last-child{
        margin-bottom: 0;
      }
      @include res(xlpad){
        padding: 20px 30px;
      }
    }
  }

  // Append Style
  .item{
    h5{
      background-color: #f7f7f7;
      padding: .75rem 1.25rem;
      border-radius: 0px;
    }
  }
}
