.friend-page {
  background: $light;

  .friend-card {
    background: $white;
    &, .box-img, .box-img::before, .box-img::after { transition: all 0.5s ease-in-out; }

    .box-img {
      position: relative;

      // 圖片深色遮罩
      &::before {
        width: 100%;
        height: 100%;
        content: "";
        background-color: rgba(0,0,0,0.5);
        opacity: 0;
      }

      // VISIT
      &::after {
        position: absolute;
        z-index: 1;
        content: "VISIT";
        left: 50%;
        top: 50%;
        // transform: scale(0.91) translate(-50%, -50%);
        transform: translate(-50%, -100%);
        // margin: -40px 0 0 -55px;
        width: 120px;
        height: 40px;
        color: #fff;
        font-size: 1rem;
        line-height: 40px;
        text-align: center;
        border: 1px solid #fff;
        opacity: 0;
      }
    }

    &:hover, &:focus {
      .box-img::before {
        opacity: 1;
      }

      .box-img::after {
        transform: translate(-50%, -50%);
        opacity: 1;
      }
    }
  }

  a.friend-card {
    // color: $black;

    h3, h4 { color: $black; }
    p { margin-bottom: 0; }
    p, .visit-link { color: #6c757d; }

    h3, h4, .visit-link, i { transition: all 0.5s ease-in-out; }

    &:hover, &:focus {
      box-shadow: 0 20px 25px rgba(40,47,60,.025),0 20px 25px rgba(40,47,60,.05);

      .visit-link { color: $main; }
      i { animation: action-icon-animation 1.5s infinite; }
    }
  }
}


@keyframes action-icon-animation {
  0% { transform: translateX(0); }
  50% { transform: translateX(25%); }
  100% { transform: translateX(0); }
}