.slidersec{
  padding: 0;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.mainslider {
  $slick-arrow-size: 35px;
  .item {
    background-size: cover;
    background-position: center;
  }
  .slick-arrow {
      opacity: 1;
      width: $slick-arrow-size;
      height: $slick-arrow-size;
      background: $none;
      color: $white;
  }
}

.partner-slide {
  .slick-arrow {
    &.slick-next, &.slick-prev {
      width: 30px;
      height: 30px;
      background: $main;
    }

    &.slick-next { right: 0;}
    &.slick-prev { left: 0;}
    &:before{
        color: $white;
        line-height: 32px;
        font-size: 30px * 0.5;
      }
  }
}
// ------
// About
// ------

.home-section {
  // 首頁最新消息，橫式卡片
  .home-text-card {
    border-radius: 8px;
    box-shadow: $shadow-card;

    // 卡片 Hover 效果 (VIEW)
    .box-img {
      position: relative;

      &, &::before, &::after { transition: all 0.5s ease-in-out; }

      &::before {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .7);
        opacity: 0;
      }

      &::after {
        position: absolute;
        z-index: 1;
        content: "VIEW";
        left: 50%;
        top: 50%;
        transform: translate(-50%, -100%);
        width: 90px;
        height: 35px;
        color: #fff;
        font-size: 0.9rem;
        line-height: 35px;
        text-align: center;
        border: 1px solid #fff;
        opacity: 0;
      }
    }

    &:hover, &:focus {
      .box-img {
        &::before, &::after {
          opacity: 1;
        }
        &::after {
          transform: translate(-50%, -50%);
        }
      }
    }
  }

  .home-text-card-head {
    width: 12rem;
  }
  .home-text-card-content {
    width: calc(100% - 10rem);
    border-radius: 0 8px 8px 0;
  }

  @include res (xlpad) {
    .home-text-card-head, .home-text-card-content {
      width: 50%;
    }

    // .home-text-card-head, .home-text-card-content {
    //   width: calc(50% - .52rem);
    // }
  }

  .home-text-card-content {
    background-color: $white;
    padding: 1rem 1rem;

    .title-card > a {
      color: $black;
      &:hover { color: $main; }
      @include textbox(2, 1.5em);
    }
    .card-text { @include textbox(1, 1.5em); }


    @include res(xlpad) {
      .title-card > a { @include textbox(2, 1.5em); }
      .card-text { @include textbox(2, 1.5em); }
    }
  }

  // 菱形
  .box-img {
    position: relative;

    .box-img-oval-quote {
      position: absolute;
      width: 50%;
      height: 50%;
      max-width: 150px;
      max-height: 150px;
      top: 0;
      right: 0;
      transform: translate(50%, -25%);

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        border-radius: 8px;
        background-color: $main;
        transform: rotate(45deg);
      }
      & > .oval-quote-inner {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        text-align: center;
        color: $white;
        transform: translate(-50%, -50%);
      }

    }
  }

  .step-card {
    position: relative;
    padding: 1rem;
    background: $white;
    border: 2px solid rgba(0, 0, 0, 0.24);
    box-shadow: none;

    &, .step-num { transition: all 0.5s;}

    h1, h2, h3 { position: relative; z-index: 1;}


    .step-num {
      position: absolute;
      background: $white;
      // background: white none repeat scroll 0% 0%;
      color: rgba(0, 0, 0, 0.24);
      font-size: 90px;
      font-family: HelveticaNeue;
      font-weight: 500;
      line-height: 0.6;
      top: 0.5rem;
      transform: translateY(-50%);
      z-index: 0;
    }

    &:hover {
      border-color: $main;

      .step-num { color: rgba($main, 1); }
    }
  }
}