.news-section {
  // background: #f7f7f7;

  .list-inline-item {
    a { color: $black; }
  a:hover { color: $main; }
  }

  .card {
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    border-color: #f7f7f7;
    border-radius: 8px;
    overflow: hidden;
    transition: all 0.5s;
    box-shadow: $shadow-card;
    &.no-shadow { box-shadow: none; }
    &.card-full { max-width: 100%; }

    &.card-article:not(.card-full) {
      @include res(xlpad) {
        max-width: none;
        flex-direction: row;
        .box-img { width: 16rem; }
      }
    }

    // 文章卡片的 Hover 效果
    &.card-article .box-img {
      position: relative;

      &, &::before, &::after { transition: all 0.5s ease-in-out; }

      &::before {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .7);
        opacity: 0;
      }

      &::after {
        position: absolute;
        z-index: 1;
        content: "VIEW";
        left: 50%;
        top: 50%;
        transform: translate(-50%, -100%);
        width: 90px;
        height: 35px;
        color: #fff;
        font-size: 0.9rem;
        line-height: 35px;
        text-align: center;
        border: 1px solid #fff;
        opacity: 0;
      }
    }

    &.card-video .box-img {
      position: relative;

      &, &::before, &::after { transition: all 0.5s ease-in-out; }

      &::before {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .7);
        opacity: 0;
      }

      &::after {
        content: "";
        position: absolute;
        z-index: 1;
        background: url('../img/png/video_play_icon.png') center;
        background-size: cover;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 40px;
        height: 40px;
        opacity: 1;
      }
    }

    &:hover, &:focus {
      box-shadow: 0 20px 25px rgba(40,47,60,.025),0 20px 25px rgba(40,47,60,.05);

      .box-img {
        &::before, &::after {
          opacity: 1;
        }
        &::after {
          transform: translate(-50%, -50%);
        }
      }
    }

    .card-body {
      background-color: #fff;
      padding: 1.5rem 1rem;
    }

    .card-text {
      line-height: 1.7;
    }
    .title-card > a, .title-card {
      color: $black;
      &:hover { color: $main;}
      // color: #33363a;
    }
    .icon-wrap {
      font-size: 14px;
    }
    .date{
      color: #999;
      font-size: 14px;
    }
  }

  .author-area {
    padding: 3rem 0 2rem;
    display: flex;

    .author-photo {
      @include square(4rem);
      @include bgcover();
      border-radius: 50%;
      margin-right: 1rem;
    }

    .author-content {
      width: calc(100% - 5rem);
    }

    .author-subtitle {
      color: $muted;
      margin-bottom: 0.5rem;
    }

    .author-name { margin-bottom: 1rem; }
    .author-text { margin-bottom: 0; }

    @include res (phone) {
      .author-photo { @include square(5rem); margin-right: 1.5rem; }
      .author-content { width: calc(100% - 6.5rem); }
    }
  }
}

.article-seo-img {
  img {width: 100%;}
}
.article-dynamic-content {
  ul, ol { padding-inline-start: 1rem;}
  ul {
    list-style-type: disc;
  }
  ol {
    list-style-type: decimal;
  }

  h1 { font-size: 24px; }
  h2 { font-size: 22px; }
  h3 { font-size: 20px; }
  h4 { font-size: 18px; }
  h5 { font-size: 16px; }
  h6 { font-size: 16px; }
  blockquote {
    padding: 1rem;
    border-left: 3px solid $main-dark;
    background-color: $light;
  }
}
