.thumbs{
  margin: 8px -4px 0 -4px;
  .item{
    padding-left: 4px;
    padding-right: 4px;
  }
}
.product-info{
  h1{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0.75em;
    @include res(xlpad){
      font-size: 28px;
    }
    @include res(pc){
      font-size: 32px;
    }
  }
  // .price{
  //   font-size: 18px;
  //   @include res(xlpad){
  //     font-size: 20px;
  //   }
  //   .special{
  //     font-weight: bold;
  //   }
  // }
  // .btn-addwish{
  //   border: 1px solid $main;
  //   display: inline-flex;
  //   @include square(38px);
  //   font-size: 19px;
  // }
}

.card.product-card {
    border-color: $grey;
    overflow: hidden;
    &, .box-img {transition: 0.5s ease-in-out; }

    .box-img {transform-origin: bottom;}

    &:hover {
      .box-img { transform: scale(1.05) ; }

      box-shadow: 0 5px 25px rgba(40,47,60,.025),0 10px 25px rgba(40,47,60,.05);
    }

    a.stretched-link {
      color: $black;

      &:hover { color: $main; }
    }


//   background: $grey;
//   &:hover {
//     background: $white;
//   }
}
.options{
  padding: 6px 0;
  >*{
    display: inline-block;
    vertical-align: middle;
  }
  >span{
    min-width: 90px;
  }
  >span + *{
    width: 130px;
  }
  >span + .price{
    width: 200px;
  }
  >span + .box-qty{
    width: calc(100% - 70px);
  }
  >select { width: 130px; }
}
.relatedslider{
  padding-bottom: 30px;
  .slick-slide{
    padding: 5px;
    .price{
      font-size: 16px;
    }
  }
}